@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: #252627;
        --primary-text: #fff;
        --secondary-text: #fefefe;
        --link-color: #CFB991;
    }
    img {
        opacity: 90%;
    }
}

a {
    position: relative;
    transition: color 0.3s ease;
}

a:hover, a:focus {
    color: var(--link-color);
}

/* Hero Section Styles */
.hero {
    background-size: cover;
    min-height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
