@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: #252627;
        --primary-text: #fff;
        --secondary-text: #fefefe;
        --link-color: #CFB991;
    }
    img {
        opacity: 90%;
    }
}

a {
    position: relative;
    transition: color 0.3s ease;
}

a:hover, a:focus {
    color: var(--link-color);
}

/* Hero Section Styles */
.hero {
    background-size: cover;
    min-height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card img {
    box-shadow: none !important;
}

.centered-model {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.loading-message {
    position: absolute;  /* Ensure loading message floats over the model viewer */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    text-align: center;
}

model-viewer {
    display: block;  /* Ensure it behaves like a block-level element */
    width: 100%;
    height: 100%;    /* Let it scale with the container's height */
}

iframe {
    max-width: 100%;
    border: none;
}

model-viewer::part(container) {
    width: 100% !important;
    height: 100% !
}